{extend name="common/layout"/}
{block name="head"}{include file="console/head" /}{/block}
{block name="main"}
{php}
    $a_data = unserialize($data['data']); // 反序列化账号数据
    $task = new \app\index\model\Tasks();
    $jobs = new \app\index\model\Jobs();
    $netease = new \netease\Netease($a_data['user_id'], $a_data['csrf'], $a_data['musicu']);
    $info = $netease->getMusicUserInfo();
    $details = [
        'listenSongs' => $info['listenSongs'],
        'level_now' => $info['level'],
        'level_next' => $info['level'] + 1,
        'loginnum' => $info['nextLoginCount']-$info['nowLoginCount'],
        'listennum' => $info['nextPlayCount']-$info['nowPlayCount'],
    ];
{/php}
<style>
    td {
        white-space:nowrap;
    }
</style>
<div class="row">
    <div class="col-xl-4">
        <div class="block block-rounded">
            <div class="block-content">
                <a class="btn btn-lg btn-alt-primary w-100 mb-1" href="/index/console/netease/add">更新账号</a>
                <p class="text-center fw-semibold fs-xs text-muted">若账号失效请及时更新</p>
            </div>
        </div>
        <div class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
            <div class="block-header block-header-default">
                <h3 class="block-title">
                    <i class="fa fa-fw fa-graduation-cap opacity-50"></i>
                    基本信息
                </h3>
            </div>
            <div class="block-content block-content-full">
                <div class="push">
                    <img alt="" class="img-avatar" src="{$a_data.avatar}">
                </div>
                <div class="fw-semibold mb-1">{$a_data.nickname} ·
                    {if condition="$data.state eq 1"}
                    <span class="text-success">运行中</span>
                    {else}
                    <span class="text-danger">已失效</span>
                    {/if}
                </div>
                <div class="fs-sm text-muted">{$info['profile']['signature']}</div>
                <button type="button" class="btn btn-sm btn-alt-primary me-1 mt-2" onclick="ajax_reexecute_task('{$a_data[\'user_id\']}')">
                    <i class="si si-energy"></i>申请补挂
                </button>
            </div>
        </div>
        {if condition="$data.state eq 1"}
        <div class="block block-rounded">
            <div class="block-header block-header-default text-center">
                <h3 class="block-title">
                    <i class="fa fa-fw fa-info opacity-50"></i>
                    等级信息
                </h3>
            </div>
            <div class="block-content">
                <table class="table table-borderless table-striped">
                    <tbody>
                    <tr>
                        <td>
                            <i class="fa fa-fw si si-star opacity-50 me-2"></i>
                            <span class="fs-sm">当前等级：LV {$details['level_now']}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-fw si si-music-tone-alt opacity-50 me-2"></i>
                            <span class="fs-sm">累计听歌：{$details['listenSongs']}首</span>
                        </td>
                    </tr>
                    {if condition="$details['level_now'] == 10"}
                    <tr>
                        <td class="text-center">
                            <span class="fs-sm fw-semibold text-muted">太牛了，你的等级已爆表了！</span>
                        </td>
                    </tr>
                    {else /}
                    <tr>
                        <td class="text-center">
                            <span class="fs-sm fw-semibold text-muted">—距升级 LV{$details['level_next']}—</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-fw si si-music-tone-alt opacity-50 me-2"></i>
                            <span class="fs-sm">还需听歌：{$details['listennum']} 首</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fa fa-fw si si-check opacity-50 me-2"></i>
                            <span class="fs-sm">还需登录：{$details['loginnum']} 天</span>
                        </td>
                    </tr>
                    {/if}
                    </tbody>
                </table>
            </div>
        </div>
        {/if}
    </div>
    <div class="col-xl-8">
        <div class="block block-rounded">
            <div class="block-content">
                <div class="table-responsive">
                    <table class="table table-striped table-vcenter">
                        <tbody>
                        {foreach $task->getTaskList('netease') as $k => $v}
                        {php}
                            $job = $jobs->getJobInfo('netease', $a_data['user_id'], $v['execute_name']);
                        {/php}
                        <tr>
                            <td class="text-center">
                                <i class="fw-semibold fa fa-2x {$v.icon}"></i>
                            </td>
                            <td class="fw-semibold">
                                <p class="fw-semibold mb-1">{$v.name}
                                    {if condition="$v.more"}
                                    {php}
                                    if ($job['data']) { $config = json_encode(unserialize($job['data'])); } else { $config = '[]'; }
                                    {/php}
                                    <button type="button" class="btn btn-sm btn-outline-primary py-0 px-1 mx-1" data-config='{$config}' onclick="updateConfig('{$v.execute_name}', '{$v.name}', this)"><i class="si si-settings"></i></button>
                                    {/if}
                                </p>
                                <p class="fs-xs text-muted mb-0">
                                    {$v.describe}
                                </p>
                            </td>
                            <td><i class="far fa-clock opacity-75"></i> {:date("m-d H:i",strtotime($job.lastExecute))}
                            </td>
                            <td class="text-center">
                                <div class="btn-group">
                                    <div class="form-check form-switch">
                                        {if condition="$job.state eq 1"}
                                        <input type="checkbox" class="form-check-input" onclick="ajax_set_zt('{$v.execute_name}', '{:$data.user_id}');" checked>
                                        {else /}
                                        <input type="checkbox" class="form-check-input" onclick="ajax_set_zt('{$v.execute_name}', '{:$data.user_id}');">
                                        {/if}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-12">
        <div class="block block-rounded">
            <div class="block-header">
                <h3 class="block-title">任务运行日志 <small>仅展示最新的50条数据</small></h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-responsive" id="task-logs-list" data-type="netease" data-user_id="{$data.user_id}">
                </table>
            </div>
        </div>
    </div>
</div>
{/block}
{block name="foot"}
<script src="/static/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/js/plugins/datatables-bs5/js/dataTables.bootstrap5.min.js"></script>

<script src="/static/js/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/static/js/plugins/datatables-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
<script src="/static/js/task_logs_datatables.js"></script>
<script>
    function updateConfig(execute_name, name, _this) {
        if (typeof ($(_this).data("config")) == 'object') {
            var config = JSON.stringify($(_this).data("config"));
        } else {
            var config = '{}';
        }
        console.log(config);
        switch (execute_name) {
            case 'musician_task':
                musicianTask(execute_name, name, config);
                break;
            default:
                layer.alert("请勿非法操作");
                return false;
        }
    }

    function musicianTask(execute_name, name, config)
    {
        layer.open({
            title: name + "配置",
            btn: ['保存', '取消'],
            btnAlign: 'c',
            closeBtn: 0,
            shadeClose: true,
            content: '<form><div class="row"><div class="col-md-12"><div class="form-floating"><input type="text"class="form-control"id="musician_song_id"name="musician_song_id"placeholder="歌曲ID"><label class="form-label"for="musician_song_id">歌曲ID</label><div class="form-text text-muted">填写你自己歌曲的ID，用于发布主创说，回复粉丝评论，回复粉丝私信</div></div></div></div><div class="row"><div class="col-md-6"><div class="form-floating"><input type="text"class="form-control"id="musician_follows_id"name="musician_follows_id"placeholder="歌曲ID"><label class="form-label"for="musician_follows_id">粉丝ID</label><div class="form-text text-muted">填写粉丝的ID，用于回复粉丝私信</div></div></div><div class="col-md-6"><div class="form-floating"><input type="text"class="form-control"id="musician_follows_msg"name="musician_follows_msg"placeholder="私信内容"><label class="form-label"for="musician_follows_msg">私信内容</label><div class="form-text text-muted">给粉丝发送的私信，留空即为“你好”</div></div></div></div></form>',
            success: function (res, index) {
                config = JSON.parse(config);
                // console.log(config)
                if (typeof (config['musician_song_id']) !== 'undefined') {
                    $("#musician_song_id").val(config['musician_song_id']);
                }
                if (typeof (config['musician_follows_id']) !== 'undefined') {
                    $("#musician_follows_id").val(config['musician_follows_id']);
                }
                if (typeof (config['musician_follows_msg']) !== 'undefined') {
                    $("#musician_follows_msg").val(config['musician_follows_msg']);
                }
            },
            yes: function (index, dom) {
                layer.close(index);
                var loading = layer.load(2);
                const params = JSON.stringify($(dom).find("form").parseForm());
                x.ajax('/index/ajax/netease/set', {do: execute_name, user_id: {$a_data['user_id']}, config: params}, function (data) {
                    if (data.code == 1) {
                        x.close(loading);
                        x.notify(data.message, 'success');
                        setTimeout(function () {
                            // x.pjax('/index/console/netease/info/{$a_data["mid"]}');
                            window.location.href = '/index/console/netease/info/{$a_data["user_id"]}';
                        }, 1000)
                    } else {
                        x.close(loading);
                        x.notify(data.message, 'warning');
                    }
                })
            },
        });
    }

    function ajax_set_zt(execute_name, user_id)
    {
        x.ajax('/index/ajax/netease/set','act=zt&do=' + execute_name + '&user_id=' + user_id, function (data) {
            if (data.code == 1) {
                x.notify(data.message, 'success');
            } else if (data.code == -1) {
                x.notify(data.message, 'danger');
                setTimeout(function () {
                    // x.pjax('/index/console/netease/info/{$data["user_id"]}');
                    window.location.href = '/index/console/netease/info/{$data["user_id"]}';
                })
            } else {
                x.notify(data.message, 'warning');
            }
        });
    }

    function ajax_reexecute_task(user_id)
    {
        layer.confirm('你确定申请补挂吗?', {
            btn: ['确定', '取消'],
            closeBtn: 0,
        }, function () {
            x.ajax("/index/ajax/netease/reExecute", {user_id: user_id}, function (data) {
                if (data.code === 1) {
                    x.btn(data.message);
                } else {
                    x.notify(data.message);
                }
            });
        });
    }
</script>
{/block}

